/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/* Navbar styles */
.navbar {
/*  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 300px;
}

.profile-button {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.profile-dropdown button {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 0;
}

/* About Us section styles */
.about-us {
  padding: 20px;
  text-align: center;
}

.about-us h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.about-us p {
  margin-bottom: 400px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.list-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  border: 3px solid lightgrey;
  max-height: 60vh;
  border-radius: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin: 5px;
}

.list-item-box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
}

.description {
  position: relative;
  right: 100px;
  /*postion: fixed;*/
  /*left: 1000px;*/
  text-align: left;
  font-size: 16px;
  color: #777;
  text-align: center;
}

.more-info {
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.title {
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  /*top: -3%;*/
}

.invisible {
  visibility: hidden;
}

.indicator {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.indicator.green {
  background-color: green;
}

.indicator.red {
  background-color: red;
}

.score {
  margin-left: auto;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  width: 20%;
}

.button2 {
  background-color: green;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  width: 15%;
}

.description {
  font-size: 13px;
  color: #777;
  background-color: #f0f0f0;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 35%;
}

.item-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
}

.item-version,
.item-updated,
.item-score {
  margin-top: 5px;
  font-size: 12px;
  color: #777;
}